/*------footer css------*/
.footer_up{
    height: 300px;
    width: inherit;
    display: flex;
    align-items: center;
}
.footer_logo_box{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.footer_logo>img{
    height: 40px;
    width: 40px;
}
.footer_logo_info{
    font-weight: 600;
    font-size: 30px;
    margin-left: 7px;
}

footer .footer_ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer_list{
    text-align: left;
    display: inline-block;
}
.footer_list_width1{
    width: 40%;
}
.footer_list_width2{
}
.footer_list h5{
    font-size: 17px;
}
.footer_span_list{
    display: flex;
    flex-direction: row;
}
.footer_span_list>span{
    font-size: 15px;
    margin-top: 20px;
    margin-right: 50px;
}
.footer_span_list>span>a{
    text-decoration: none;
    color: inherit;
}
.footer_span_list>span:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.footer_list_width2>.footer_span_list>span:hover{
    cursor: text;
    text-decoration-line: none;
}