/* IE */
input::-ms-clear,
input::-ms-reveal{
    opacity: 0;
}
/* chrome */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    opacity: 0;
}

body {
    background-color: white;
    margin: 0px;
    padding: 0;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
  }

header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 200;
}

article{
    margin-top: 70px;
    height: auto;
    padding-bottom: 100px;
    margin: 0 auto;
}

footer{
    padding: 200px 30px;
    height: auto;    
    background-color: #f4f4f4;
}

.blank_block{
    width: 100%;
    height: 120px;
    margin-top: 100px;
}

/*-----------------------------------------article css-----------------------------------------*/

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    
}

/* 스크롤 시 보이게 만들기 위한 클래스 */
.section.show {
    opacity: 1;
    transform: translateY(0);
}

.motion_r{
    opacity: 0; /* 처음에는 보이지 않도록 설정 */
    transform: translateX(50px); /* 약간 왼쪽으로 이동 */
    transition: opacity 1.3s ease-out, transform 1.3s ease-out; /* 애니메이션 설정 */
}
.motion_r.show {
    opacity: 1;
    transform: translateX(0);
}

.motion_l{
    opacity: 0; /* 처음에는 보이지 않도록 설정 */
    transform: translateX(-50px); /* 약간 아래로 이동 */
    transition: opacity 1.3s ease-out, transform 1.3s ease-out; /* 애니메이션 설정 */
}
.motion_l.show {
    opacity: 1;
    transform: translateX(0);
}

.motion_u{
    opacity: 0; /* 처음에는 보이지 않도록 설정 */
    transform: translateY(50px); /* 약간 아래로 이동 */
    transition: opacity 1.3s ease-out, transform 1.3s ease-out; /* 애니메이션 설정 */
}
.motion_u.show {
    opacity: 1;
    transform: translateY(0);
}

/*================================서비스1 검색================================*/
#service_1{
    background: #f2f4f6;
    margin-top: 0px;
    height: 730px;
    position: relative;
    overflow: hidden;

}
.main_img_box{
    position: absolute;
    z-index: 0;
    opacity: 20%;
}
.title_q{
    display: flex;
    padding: 190px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.title_q > div{
    overflow: hidden;
}
.title_q > div > h2{
    margin: 0px;
    font-size: 65px;
    animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    /*opacity: 0;
    animation: text_show 2s forwards;*/
}
.title_q h5{
    font-size: 25px;
    
    animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    /*opacity: 0;
    animation: text_show 4s forwards;*/
}
@keyframes reveal {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
@keyframes text_show {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.bla_box{
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
/*.under_img{
    width: 90px;
    height: 45px;
    opacity: 55%;
    animation: updown 0.8s linear 0s infinite alternate; 
    margin-top: 0;
}*/
.under_text{
    width: 140px;
    height: 45px;
    opacity: 55%;
    animation: updown 0.5s linear 0s infinite alternate; 
    margin-top: 0;
}
@keyframes updown {
	0% {margin-top: 0px;}
	100% {margin-top: 15px;}
}

.service{
	width: 100%; height: 100%;
	position: relative;
}
/*================================서비스_info================================*/
.service_info_compare_block{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    margin-top: 300px;
}
.service_info_compare_title{
    margin-top: 300px;
    font-size: 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service_info_compare_left_block{
    overflow: hidden;
}
.service_info_compare_left_box{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.service_info_compare_left_l_list{
    width: 33%;
    padding-top: 120px;
    
}
.service_info_compare_left_r_list{
    width: 33%;
    padding-top: 120px;
}
.service_info_compare_right_box{
    height: 100%;
}
.service_info_compare_left{
    height: 100px;
}
.service_info_compare_left_name{
    font-size: 28px;
    font-weight: 600;
    display: inline-block;
    width: 110px;
}
.service_info_compare_left_info{
    font-size: 18px;
}
/*================================서비스_race================================*/
#service_race{
    margin-bottom: 50px;
}
.service_race_block{
    background-color: white;
    height: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
}
.service_race_up_box{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.service_race_up_text_box{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 200px;
}
.service_race_up_text1{
    font-size: 45px;
    padding: 0px 150px 0px;
    color: black;
    margin-top: 0;
}
.service_race_up_text2{
    font-size: 45px;
    padding: 0px 150px 0px;
    color: black;
    margin-top: -25px;
}

.service_race_up{
    display: flex;
    flex-direction: row;
    height: 750px;
}
.service_race_left{
    width:40%;
}
.service_race_right{

}

.service_race_down{

}



/*================================서비스_intro================================*/
#service_intro{
    margin-bottom: 200px;
}
/*소개 상단*/
.intro_box{
    background-color: white;
    height: auto;
    width: inherit;
}
.intro_title{
    font-size: 45px;
    padding: 0px 150px 0px;
    color: black;
    margin-top: 0;
}
.intro_title_sub{
    font-size: 24px;
    font-weight: 600;
    padding: 20px 150px;
    opacity: 60%;
    margin-bottom: 100px;
}

/*좌측 선택 창*/
.intro_list_block{
    display: flex;
    flex-direction: row;
}
.intro_text_list{
    display: inline-block;
}
.intro_text_box_box{
    display: flex;
    flex-direction: row;
}
.intro_text_box{
    width: 150px;
    height: 150px;
    margin: 70px 0px 0px 130px;
    background-color: #f2f4f6;
    border-radius: 25px;
    border: 0px solid white;
    display: flex;
    align-items: end;
    justify-content: left;
    cursor: pointer;
}
.intro_text{
    text-align: center;
    font-size: 15px;
    margin: 15px 15px;
    font-weight: 600;
}
.intro_text_box:hover{
    box-shadow: 0.7px 0.7px 0.7px 0.7px #e4e4e5;
}
.intro_select_img_box{
    width: 130px;
    position: relative;
}
.intro_select_img{
    width: 50px;
    height: 50px;
    -ms-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
    position: absolute;
    bottom: -3px;
    right: 87px;
    transform: rotate(43deg);
}
.bla2{
    margin-bottom: 100px;
}

/*우측 선택 항목 공통*/
.intro_res_list{
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.intro_res_box{
    width: 890px;
    height: 470px;
    margin-bottom: 130px;
    border-radius: 9px;
    border: 0px solid #466D1D;
}
#intro_res_box_default{
    padding-top: 55px;
    margin-bottom: 0;
}
.intro_res_info{
    margin: 25px 20px 40px;
    font-size: 32px;
    font-weight: 700;
    animation: text_show 1s forwards;
}
.intro_res_info2{
    margin: -20px 35px 20px;
    font-size: 17px;
    color: gray;
    animation: text_show 2.4s forwards;
}

/*기본 화면(아직 선택X)*/
.intro_res_img_box{
    padding: 0px 19px;
}
.intro_res_img{
    width: 100px;
    height: 100px;
    -ms-transform: rotate(35deg); 
    /* IE 9 */
    -webkit-transform: rotate(35deg); 
    /* Chrome, Safari, Opera */
    transform: rotate(35deg);
    animation: text_show 1s forwards;
}


/*서울, 부산경남, 제주*/
.horse_menu_block{
    display: flex;
    flex-direction: column;
    width: inherit;
}
.horse_menu_up{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 60px;
    cursor: pointer;
}
.horse_menu_up_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
.horse_menu_up_center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
.horse_menu_up_right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
.horse_menu_up_text{
    font-weight: 600;
    font-size: 16px;
    animation: text_show 1s forwards;
    cursor: pointer;
}
.horse_menu_up_left:hover{
    background-color: #f2f4f6;
    border-bottom: 2px solid #444444;
    color: #555555;
}
.horse_menu_up_center:hover{
    background-color: #f2f4f6;
    border-bottom: 2px solid #444444;
    color: #555555;
}
.horse_menu_up_right:hover{
    background-color: #f2f4f6;
    border-bottom: 2px solid #444444;
    color: #555555;
}
.under_line{
    border-bottom: 2px solid #555555;
}

.horse_menu_down{
    height: 100%;
    width: inherit;
}

.horse_menu_down_rH{
    animation: text_show 1s forwards;
}
.horse_menu_down_rP{
    animation: text_show 1s forwards;
}
.horse_menu_down_rG{
    animation: text_show 1s forwards;
}

/*================================서비스2 목록================================*/
#go4{
    margin-bottom: 120px;
}
#service_2{
    width: 100%;
}
.title_r{
    margin: 0px 0px 140px 400px;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.title_r2{
    margin: 100px 400px 240px 0px;
}

.care_service_title2{
    font-size: 46px;
    text-align: left;
}
.care_service_text2{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: black;
    opacity: 60%;
}

.title_r_h2{
    font-size: 45px;
    margin: 0;
}
.care_service_block{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.care_service_up{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 60%;
}
.care_service_up_left{
    background: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;
    height: 100%;
    width: 23%;
}
.care_service_up_left>a{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.care_service_up_left>a>img{
    border-radius: 25px;
    height: 27%;
    width: 80%;
}
.care_service_up_line1{
    height: 100%;
    width: 2%;
    background-color: inherit;
}
.care_service_up_center{
    background-color: inherit;
    /*background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;*/
    height: 100%;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.care_service_up_line2{
    height: 100%;
    width: 2%;
    background-color: inherit;
}
.care_service_up_right{
    background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.care_service_center{
    background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;
    height: 240px;
    width: 60%;
    text-align: left;
}
.left_img_2{
    width: 45px;
    height: 90px;
    animation: text_show2 4s linear 0s infinite alternate;
}
.care_service_down{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 60%;
    margin: 40px 0;
}
.care_service_down_left{
    background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;
    height: 100%;
    width: 63%;
}
.care_service_down_left_img{
    height: 100%;
    width: 100%;
    border: inherit;
    border-radius: inherit;
}
.care_service_down_line1{
    height: 100%;
    width: 2%;
}
.care_service_down_right{
    background-color: inherit;
    /*background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;*/
    height: 100%;
    width: 35%;
}

.care_service_down2{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 60%;
    margin: 20px 0;
}
.care_service_down_left2{
    background-color: inherit;
    /*background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;*/
    height: 100%;
    width: 35%;
}
.care_service_down_line1{
    height: 100%;
    width: 2%;
}
.care_service_down_right2{
    background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0), 1px 1px 5px 1px rgba(1,0,1,0.1);
    border-radius: 25px;
    height: 100%;
    width: 63%;
}

.care_service_ho:hover{
    transform: scale(1.04); 
}