/*지역*/

.other_region_list_s2{
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0px;
}
.other_region_s2{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 4px;
    border-radius: 8px;
    border: 0px solid white;
    margin: 7px 13px;
}
.other_region_s2:hover{
    color: #466D1D;
    background-color: #e4e4e5;
}



/*그래프*/
.intro_res_rain_block_block{
    display: flex;
    flex-direction: row;
}
.rain_value_info{
    font-size: 30px;
    width: 190px;
    margin-right: 35px;
    animation: text_show 2.4s forwards;
    font-weight: 400;
}
.rain_value_box{
    display: flex;
    flex-direction: column;
}
.rain_value_box > span{
    height: 1.84%;
    margin-top: 20px;
    font-size: 11px;
    margin-right: -17px;
}
.intro_res_rain_block{
    position: relative;
    width: 640px;
    height: 270px;
    margin-left: 20px;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.intro_res_rain_box{
    display: inline-block; 
    height: 270px;
}
.intro_res_rain_box > span{
    z-index: -10;
}
.intro_res_rain_box > span > hr{
    height: 0.5px;
    width: 640px;
    background-color: inherit;
    border: 0px;
    border-top: 1px solid #aaa;
    margin-top: 26px;
}
.intro_res_rain_box>div{
    position: absolute;
    bottom: 0px;
    width: 21px;
    background-color: green;
}
#stick1{left: 40px;
    animation: stick_grow 1.1s forwards;}
#stick2{left: 100px;
    animation: stick_grow 1.2s forwards;}
#stick3{left: 160px;
    animation: stick_grow 1.3s forwards;}
#stick4{left: 220px;
    animation: stick_grow 1.4s forwards;}
#stick5{left: 280px;
    animation: stick_grow 1.5s forwards;}
#stick6{left: 340px;
    animation: stick_grow 1.6s forwards;}
#stick7{left: 400px;
    animation: stick_grow 1.7s forwards;}
#stick8{left: 460px;
    animation: stick_grow 1.8s forwards;}
#stick9{left: 520px;
    animation: stick_grow 1.9s forwards;}
#stick10{left: 580px;
    animation: stick_grow 2.0s forwards;}
@keyframes stick_grow{
    from{
        height: 0px;
    }to{
        height: 200px;
    }
}

.rain_value_year_box{
    margin-left: 214px;
    margin-top: -74px;
}
.rain_value_year_box > span{
    font-size: 9px;
    margin-right: 14px;
}
.rain_value_year_list{

}
.rain_value_year_list > span{
    font-size: 11px;
    margin: 0px 22.4px;
}