/* styles.css */
.crops_list_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
    margin-left: 77px;
    overflow: hidden;
    background-color: white;
}

.crops_list {
    position: relative;
    height: 79vh;
    overflow-y: scroll;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
    -ms-overflow-style: none;
}
.crops_list::-webkit-scrollbar{
    display:none;
  }


.crops_info {
    margin: 10px 0;
    padding: 20px;
    background-color: seagreen;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 1;
    transform: scale(1);
    border-radius: 10px;
    border: 0px solid white;
}
.crops_info:hover{
    background-color: darkgreen;
    cursor: pointer;
}

.crops_info.shrink {
    padding: 10px;
    opacity: 0.5;
    transform: scale(0.8);
}

.crops_info.grow {
    padding: 30px;
    opacity: 1;
    transform: scale(1.2);
}

