.game-container {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
}

#bettingOptions {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

select, input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button#startButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button#startButton:hover {
    background-color: #218838;
}

#raceResult, #finalResult {
    margin-top: 10px;
   
}