.game_container {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}
.only_flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bettingOptions {
    margin-bottom: 20px;
}

.only_flex_row>label, .only_flex_row>label {
    display: inline-block;
    width: 30%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.horse_select, .horse_input[type="number"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#raceResult, #finalResult {
    margin-top: 10px;
   
}

.bet_error_block{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.error_msg{
    font-size: 13px;
    color: red;
}