<div class="footer_up">
    <div class="footer_logo_box">
        <div class="footer_logo">
            <img src="{{ url_for('static', path='img/MLogo.png') }}">
        </div>
        <div class="footer_logo_info">
            Marlearn
        </div>
    </div>
</div>
<ul class="footer_ul">
    <li class="footer_list footer_list_width1">
        <h5>서비스 바로가기</h5>
        <div class="footer_span_list">
            <span><a href="#go1">소개</a></span>
            <span><a href="#go2">경마연습</a></span>
            <span><a href="#go3">경마정보</a></span>
            <span><a href="#go4">중독예방</a></span>
        </div>
    </li>
    <li class="footer_list footer_list_width2">
        <h5>문의</h5>
        <div class="footer_span_list">
            <span>전화 : 010-2113-4223 (24시간  연중 무휴)</span>
        </div>
    </li>
</ul>