<header id="header" class="deactive">
    <div class="header_content_box">
        <div class="logo_info">
            Marlearn
        </div>
        <div class="main_logo">
            <img src="{{ url_for('static', path='img/MLogo.png') }}">
        </div>

        <div class="header_content_list">
            <a href="#" class="hamburger-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>  
          
            <div class="overlay">
                <nav class="menu">
                <ul class="menu_list">
                    <li class="header_content"><a class="header_content_a" href="#go1">소개</a></li>
                    <li class="header_content"><a class="header_content_a" href="#go2">경마 연습</a></li>
                    <li class="header_content"><a class="header_content_a" href="#go3">경마 정보</a></li>
                    <li class="header_content"><a class="header_content_a" href="#go4">알아보기</a></li>
                </ul>
                </nav>
            </div>
        </div>


    </div>
    <div class="header_g_wrap">
        <div id="header_g_progressbar" class="header_g_progressbar"><div class="header_g_progress"></div></div>
    </div>
</header>