<div class="header_content_box">
    <div class="logo_info">
        Oasis
    </div>
    <div class="main_logo">
        <img src="{{ url_for('static', path='img/logo.png') }}">
    </div>
    <ul class="header_content_list">
        <li class="header_content"><button>소개</button></li>
        <li class="header_content"><button>고객센터</button></li>
        <li class="header_content"><button>제휴 문의</button></li>
    </ul>
</div>
<div class="header_g_wrap">
    <div id="header_g_progressbar" class="header_g_progressbar"><div class="header_g_progress"></div></div>
  </div>