<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>말런</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/slide.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/raceHorse.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/racePlayer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/raceGround.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/race.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/scroll.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/temp.css') }}">

</head>
<body>
    <!--상단-->
    {% include 'header.html' %}

    <article class="container"><!--메인-->
        <div id="service_1" class="service">
            <div class="main_img_box">                
                <img class="main_img"src="{{ url_for('static', path='img/main_img.png') }}" alt="main">
            </div>
            <div class="title_q">
                <div><h2>한국 경마 체험하기!</h2></div>
                <h5></h5>
            </div>
            <div class="bla_box">
                <h3 class="under_text">아래로 내리세요</h3>
                <!--<img class="under_img"src="{{ url_for('static', path='img/under.png') }}" alt="under">-->
                                

            </div>
        </div>
        
        <div id="go1" class="blank_block"></div>
        <div id="service_info" class="service section">
            {% include 'slide.html' %}

            <div class="service_info_compare_block">
                <div class="service_info_compare_title motion_u"><h2>당신에게 어울리는 게임은?</h2></div>
                <div class="service_info_compare_left_block">
                    <div class="service_info_compare_left_box motion_r">
                        <ul class="service_info_compare_left_l_list">
                            
                            <li class="service_info_compare_left">
                                <span class="service_info_compare_left_name">단승</span>
                                <span class="service_info_compare_left_info">선택한 말이 1착으로 들어와야 한다.</span>
                            </li>
                            <li class="service_info_compare_left">
                                <span class="service_info_compare_left_name">연승</span>
                                <span class="service_info_compare_left_info">선택한 말이 3착 내로 들어와야 한다.</span>
                            </li>
                            <li class="service_info_compare_left">
                                <span class="service_info_compare_left_name">복연승</span>
                                <span class="service_info_compare_left_info">선택한 두 말이 3착 내로 들어와야 한다.</span>
                            </li>
                        </ul>
                        <ul class="service_info_compare_left_r_list">
                            <li class="service_info_compare_left">
                                <span class="service_info_compare_left_name">복승</span>
                                <span class="service_info_compare_left_info">선택한 두 말이 모두 1 ~ 2착으로 들어와야 한다.</span>
                            </li>
                            <li class="service_info_compare_left">
                                <span class="service_info_compare_left_name">삼복승</span>
                                <span class="service_info_compare_left_info">선택한 세 말이 모두 1 ~ 3착으로 들어와야 한다.</span>
                            </li>
                            <li class="service_info_compare_left">
                                <span class="service_info_compare_left_name">쌍승</span>
                                <span class="service_info_compare_left_info">1 ~ 2착을 맞혀야 한다.</span>
                            </li>
                            <li class="service_info_compare_left">
                                <span class="service_info_compare_left_name">삼쌍승</span>
                                <span class="service_info_compare_left_info">1 ~ 3착을 맞혀야 한다.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="service_info_compare_right_box motion_r">
                        {% include 'scroll.html' %}
                    </div>
                </div>
            </div>
        </div>

        
        <div id="go2" class="blank_block"></div>
        <div id="service_race" class="service section">
            <div class="service_race_block">
                <div class="service_race_up_box">
                    <div class="service_race_up_text_box">
                        <h2 class="service_race_up_text1">경마공원 가기 전에</h2>
                        <h2 class="service_race_up_text2">연습해봐요</h2>
                    </div>
                    <div class="service_race_up">
                        <div class="service_race_left motion_l">
                            {% include 'temp.html' %}
                
                        </div>
                        <div class="service_race_right motion_r">
                            {% include 'race.html' %}
                        </div>
                    </div>
                </div>
                <div class="service_race_down"></div>
            </div>
        </div>


        
        <div id="go3" class="blank_block"></div>
        <div id="service_intro" class="service section">
            <div class="intro_box">
                <h2 class="intro_title">경마공원 정보예요</h2>
                <h2 class="intro_title_sub">당신을 위해 상위 10위의 정보를 모아놨어요!</h2>
                <div class="intro_list_block">
                    <div class="intro_text_list motion_l">
                        <div class="intro_text_box_box">
                            <div id="seoul" class="intro_text_box text_box_seoul" onclick="showContent('A')">
                                <img class="text_box_img" src="{{ url_for('static', path='img/seoulLogo.png') }}" alt="seoul">
                                <span class="intro_text">서울</span>
                            </div>
                            <span class="intro_select_img_box" id="intro_img1" style="visibility: hidden;">
                                <img class="intro_select_img" src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </span>
                        </div>
                        <div class="intro_text_box_box">
                            <div id="busan" class="intro_text_box text_box_busan" onclick="showContent('B')">
                                <img class="text_box_img" src="{{ url_for('static', path='img/busanLogo.png') }}" alt="busan">    
                                <span class="intro_text">부산경남</span>
                            </div>
                            <span class="intro_select_img_box" id="intro_img2" style="visibility: hidden;">
                                <img class="intro_select_img"src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </span>
                        </div>
                        <div class="intro_text_box_box">
                            <div id="jeju" class="intro_text_box text_box_jeju" onclick="showContent('C')">
                                <img class="text_box_img" src="{{ url_for('static', path='img/jejuLogo.png') }}" alt="jeju">
                                <span class="intro_text">제주</span>
                            </div>
                            <span class="intro_select_img_box" id="intro_img3" style="visibility: hidden;">
                                <img class="intro_select_img"src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </span>
                        </div>
                    </div>

                    <div class="intro_res_list">

                        <div class="intro_res_box motion_r" id="intro_res_box_default">
                            <div class="intro_res_info">경마공원 중</div>
                            <div class="intro_res_info">알아보고 싶은 곳을 선택해주세요</div> 
                            <div class="intro_res_img_box">
                                <img class="intro_res_img"src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </div>
                        </div>

                        <div class="intro_res_box" id="intro_res_box1" style="display: none;">
                            <div class="horse_menu_block">

                                {% include 'horse_menu.html' %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        
        <div id="go4" class="blank_block"></div>
        <div id="service_2" class="service section">
            
            <div class="care_service_block">
                <div class="title_r">
                    <h2 class="title_r_h2">경마를 더 알아볼까요</h2>
                </div>

                <div class="care_service_up">
                    <div class="care_service_up_left care_service_ho motion_l">
                        <a href="https://race.kra.co.kr/seoulMain.do"><img src="https://www.kra.co.kr/common/images/common/logo.svg" alt="한국마사회"></a>
                    </div>
                    <div class="care_service_up_line1"></div>
                    <div class="care_service_up_center motion_u">
                        <img class="left_img_2"src="{{ url_for('static', path='img/left.png') }}" alt="left">
                        <img class="left_img_2"src="{{ url_for('static', path='img/left.png') }}" alt="left">
                        <img class="left_img_2"src="{{ url_for('static', path='img/left.png') }}" alt="left">
                    </div>
                    <div class="care_service_up_line2"></div>
                    <div class="care_service_up_right motion_r">
                        <h3>경마의 모든 정보! 한국마사회와 함께해요</h3>
                    </div>
                </div>


                
                <div class="care_service_up">
                    <div class="care_service_up_left care_service_ho motion_l">
                        <a href="https://www.kcgp.or.kr/pcMain.do"><img src="https://www.kcgp.or.kr/resources/common/images/main_2020/logo.png" alt="한국예방"></a>
                    </div>
                    <div class="care_service_up_line1"></div>
                    <div class="care_service_up_center motion_u">
                        <img class="left_img_2"src="{{ url_for('static', path='img/left.png') }}" alt="left">
                        <img class="left_img_2"src="{{ url_for('static', path='img/left.png') }}" alt="left">
                        <img class="left_img_2"src="{{ url_for('static', path='img/left.png') }}" alt="left">
                    </div>
                    <div class="care_service_up_line2"></div>
                    <div class="care_service_up_right motion_r">
                        <h3>중독 예방! 한국도박문제예방치유원과 함께해요</h3>
                    </div>
                </div>
                <!--<div class="care_service_down">
                    <div class="care_service_down_left motion_u">
                        <img class="care_service_down_left_img"src="{{ url_for('static', path='img/laptop.jpg') }}" alt="laptop">
                    </div>
                    <div class="care_service_down_line1"></div>
                    <div class="care_service_down_right motion_r">

                    </div>
                </div>
                <div class="care_service_down2">
                    <div class="care_service_down_left2 motion_l"></div>
                    <div class="care_service_down_line1"></div>
                    <div class="care_service_down_right2 motion_u">
                        <img class="care_service_down_left_img"src="{{ url_for('static', path='img/read.jpg') }}" alt="read">
                    </div>
                </div>
                <div class="care_service_down3">
                    <div class="care_service_down_left3 motion_l"></div>
                    <div class="care_service_down_line1"></div>
                    <div class="care_service_down_right3 motion_u">
                        <img class="care_service_down_left_img"src="{{ url_for('static', path='img/group.jpg') }}" alt="group">
                    </div>
                </div>-->
            </div>
        </div>
    </article>

    <footer><!--하단-->
        {% include 'footer.html' %}
        
    </footer>        
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', path='js/horse_data.js') }}"></script>
<script src="{{ url_for('static', path='js/player_data.js') }}"></script>
<script src="{{ url_for('static', path='js/main.js') }}"></script>
<script src="{{ url_for('static', path='js/slide.js') }}"></script>
<script src="{{ url_for('static', path='js/raceHorse.js') }}"></script>
<script src="{{ url_for('static', path='js/racePlayer.js') }}"></script>
<script src="{{ url_for('static', path='js/raceGround.js') }}"></script>
<script src="{{ url_for('static', path='js/header.js') }}"></script>
<script src="{{ url_for('static', path='js/race.js') }}"></script>
<script src="{{ url_for('static', path='js/scroll.js') }}"></script>
</html>