<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오아시스</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/slide.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/raceHorse.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/racePlayer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/raceGround.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/race.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/scroll.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/temp.css') }}">

</head>
<body>
    <!--상단-->
    {% include 'header.html' %}

    <article class="container"><!--메인-->
        <div id="service_1" class="service">
            <div class="main_img_box">                
                <img class="main_img"src="{{ url_for('static', path='img/main_img.png') }}" alt="main">
            </div>
            <div class="title_q">
                <div><h2>한국 경마의 모든 것!</h2></div>
                <h5></h5>
            </div>
            <div class="bla_box">
                <h3 class="under_text">아래로 내리세요</h3>
                <!--<img class="under_img"src="{{ url_for('static', path='img/under.png') }}" alt="under">-->
                                

            </div>
        </div>
        
        <div id="go1" class="blank_block"></div>
        <div id="service_info" class="service section">
            {% include 'slide.html' %}
            <div class="service_info_compare_block">
                <div class="service_info_compare_title motion_u"><h2>당신에게 어울리는 게임은?</h2></div>
                {% include 'scroll.html' %}
                
            </div>
        </div>

        
        <div id="go2" class="blank_block"></div>
        <div id="service_race" class="service section">
            <div class="service_race_block">
                <div class="service_race_up_box">
                    <h2 class="service_race_up_text1">경마공원 가기 전에</h2>
                    <h2 class="service_race_up_text2">연습해볼까요</h2>
                    <div class="service_race_up">
                        <div class="service_race_left">
                            {% include 'temp.html' %}
                
                        </div>
                        <div class="service_race_right motion_r">
                            {% include 'race.html' %}
                        </div>
                    </div>
                </div>
                <div class="service_race_down"></div>
            </div>
        </div>


        
        <div id="go3" class="blank_block"></div>
        <div id="service_intro" class="service section">
            <div class="intro_box">
                <h2 class="intro_title">경마공원 정보예요</h2>
                <h2 class="intro_title_sub">당신을 위해 정보를 모아놨어요!</h2>
                <div class="intro_list_block">
                    <div class="intro_text_list motion_l">
                        <div class="intro_text_box_box">
                            <div class="intro_text_box" onclick="showContent('A')"><span class="intro_text">서울</span></div>
                            <span class="intro_select_img_box" id="intro_img1" style="visibility: hidden;">
                                <img class="intro_select_img" src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </span>
                        </div>
                        <div class="intro_text_box_box">
                            <div class="intro_text_box" onclick="showContent('B')"><span class="intro_text">부산경남</span></div>
                            <span class="intro_select_img_box" id="intro_img2" style="visibility: hidden;">
                                <img class="intro_select_img"src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </span>
                        </div>
                        <div class="intro_text_box_box">
                            <div class="intro_text_box" onclick="showContent('C')"><span class="intro_text">제주</span></div>
                            <span class="intro_select_img_box" id="intro_img3" style="visibility: hidden;">
                                <img class="intro_select_img"src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </span>
                        </div>
                    </div>

                    <div class="intro_res_list">

                        <div class="intro_res_box motion_r" id="intro_res_box_default">
                            <div class="intro_res_info">경마공원 중</div>
                            <div class="intro_res_info">알아보고 싶은 곳을 선택해주세요</div> 
                            <div class="intro_res_img_box">
                                <img class="intro_res_img"src="{{ url_for('static', path='img/carrot.png') }}" alt="carrot">
                            </div>
                        </div>

                        <div class="intro_res_box" id="intro_res_box1" style="display: none;">
                            <div class="horse_menu_block">

                                {% include 'horse_menu.html' %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        
        <div id="go4" class="blank_block"></div>
        <div id="service_2" class="service section">
            
            <div class="care_service_block">
                <div class="title_r">
                    <h2 class="title_r_h2">중독에 주의하세요</h2>
                </div>
                <div class="care_service_up">
                    <div class="care_service_up_left care_service_ho motion_l">
                        <a href="https://www.kcgp.or.kr/pcMain.do"><img src="https://www.kcgp.or.kr/resources/common/images/main_2020/logo.png" alt="한국예방"></a>
                    </div>
                    <div class="care_service_up_line1"></div>
                    <div class="care_service_up_center care_service_ho motion_u">

                    </div>
                    <div class="care_service_up_line2"></div>
                    <div class="care_service_up_right care_service_ho motion_r">

                    </div>
                </div>
                <div class="care_service_center care_service_ho motion_u">
                    <h2 class="care_service_center_title">중독이란?</h2>
                    <h2 class="care_service_center_text">단순한 습관과는 달리, 점차 행동의 양과 횟수가 많아지는 집착.</h2> 
                    <h2 class="care_service_center_text">하지 않으면 신체적, 심리적 불편함이 발생하는 금단 등이 나타나는 의존의 상태를 의미해요.</h2>
                </div>
                <div class="care_service_down">
                    <div class="care_service_down_left care_service_ho motion_l">

                    </div>
                    <div class="care_service_down_line1"></div>
                    <div class="care_service_down_right care_service_ho motion_r">

                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer><!--하단-->
        {% include 'footer.html' %}
        
    </footer>        
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', path='js/main.js') }}"></script>
<script src="{{ url_for('static', path='js/slide.js') }}"></script>
<script src="{{ url_for('static', path='js/raceHorse.js') }}"></script>
<script src="{{ url_for('static', path='js/racePlayer.js') }}"></script>
<script src="{{ url_for('static', path='js/raceGround.js') }}"></script>
<script src="{{ url_for('static', path='js/header.js') }}"></script>
<script src="{{ url_for('static', path='js/race.js') }}"></script>
<script src="{{ url_for('static', path='js/scroll.js') }}"></script>
</html>