<div class="slider_container_box_h">
    <div class="slider_container_h">
        <div class="slider_prev_h"></div>
        <button class="prev_h">
            <img class="left_img_h"src="{{ url_for('static', path='img/left.png') }}" alt="left">
        </button>
        <div class="slider_h">
          <div class="slides_h">
              <div class="slide_h"><div>1</div></div>
              <div class="slide_h"><div>2</div></div>
              <div class="slide_h"><div>3</div></div>
              <div class="slide_h"><div>4</div></div>
              <div class="slide_h"><div>5</div></div>
              <!-- 더 많은 슬라이드를 추가할 수 있음. -->
          </div>
        </div>
        <button class="next_h">
            <img class="right_img_h"src="{{ url_for('static', path='img/right.png') }}" alt="right">        
        </button>
        <div class="slider_next_h"></div>
      </div>
      
      <div class="indicators_h">
          <!-- 인디케이터는 JavaScript에서 동적으로 추가. -->
      </div>
</div>