<div class="slider_container_box_p">
    <div class="slider_container_p">
        <div class="slider_prev_p"></div>
        <button class="prev_p">
            <img class="left_img_p"src="{{ url_for('static', path='img/left.png') }}" alt="left">
        </button>
        <div class="slider_p">
          <div id="slides_p">
              <!-- 더 많은 슬라이드를 추가할 수 있음. -->
          </div>
        </div>
        <button class="next_p">
            <img class="right_img_p"src="{{ url_for('static', path='img/right.png') }}" alt="right">        
        </button>
        <div class="slider_next_p"></div>
      </div>
      
      <div class="indicators_p">
          <!-- 인디케이터는 JavaScript에서 동적으로 추가. -->
      </div>
</div>