<div id="seoul_raceGround_block"  style="display: none;">
    <div class="raceGround_block">
        <div class="raceGround_left_box">
            <h4>입장요금 안내</h4>
            <h5>경마일 : 2000원</h5>
            <h5>비경마일 : 무료</h5>
            <h4>입장시간 안내</h4>
            <table class="raceGround_left_table">
                <thead class="raceGround_left_thead">
                    <tr class="raceGround_left_tr">
                        <th class="raceGround_left_th">구분</th>
                        <th class="raceGround_left_th">금요일</th>
                        <th class="raceGround_left_th">토요일</th>
                        <th class="raceGround_left_th">일요일</th>
                    </tr>
                </thead>
                <tbody class="raceGround_left_tbody">
                    <tr class="raceGround_left_tr">
                        <td class="raceGround_left_td">주간경마</td>
                        <td class="raceGround_left_td">09:30</td>
                        <td class="raceGround_left_td">09:30</td>
                        <td class="raceGround_left_td">09:30</td>
                    </tr>
                    <tr class="raceGround_left_tr">
                        <td class="raceGround_left_td">야간경마</td>
                        <td class="raceGround_left_td">12:30</td>
                        <td class="raceGround_left_td">12:30</td>
                        <td class="raceGround_left_td">09:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="raceGround_right_box">
            <img class="map_img"src="{{ url_for('static', path='img/seoul_map.png') }}" alt="seoul">
            <div class="raceGround_right_add_box">
                <div><span>주소 : </span>13822 경기도 과천시 경마공원대로 107</div>
                <div><span>교통 안내 : </span>지하철 4호선 경마공원역 하차</div>
            </div>
        </div>
    </div>
</div>

<div id="busan_raceGround_block" style="display: none;">
    <div class="raceGround_block">
        <div class="raceGround_left_box">
            <h4>입장요금 안내</h4>
            <h5>경마일 : 2000원</h5>
            <h5>비경마일 : 무료</h5>
            <h4>입장시간 안내</h4>
            <table class="raceGround_left_table">
                <thead class="raceGround_left_thead">
                    <tr class="raceGround_left_tr">
                        <th class="raceGround_left_th">구분</th>
                        <th class="raceGround_left_th">금요일</th>
                        <th class="raceGround_left_th">토요일</th>
                        <th class="raceGround_left_th">일요일</th>
                    </tr>
                </thead>
                <tbody class="raceGround_left_tbody">
                    <tr class="raceGround_left_tr">
                        <td class="raceGround_left_td">주간경마</td>
                        <td class="raceGround_left_td">09:30</td>
                        <td class="raceGround_left_td">09:30</td>
                        <td class="raceGround_left_td">09:30</td>
                    </tr>
                    <tr class="raceGround_left_tr">
                        <td class="raceGround_left_td">야간경마</td>
                        <td class="raceGround_left_td">12:30</td>
                        <td class="raceGround_left_td">12:30</td>
                        <td class="raceGround_left_td">09:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="raceGround_right_box">
            <img class="map_img"src="{{ url_for('static', path='img/busan_map.png') }}" alt="seoul">
            <div class="raceGround_right_add_box">
                <div><span>주소 : </span>부산광역시 강서구 범방동 1833 부산경남경마공원</div>
                <div><span>도로명 : </span>부산광역시 강서구 가락대로 929</div>
            </div>
        </div>
    </div>
</div>


<div id="jeju_raceGround_block" style="display: none;">
    <div class="raceGround_block">
        <div class="raceGround_left_box">
            <h4>입장요금 안내</h4>
            <h5>경마일 : 2000원</h5>
            <h5>비경마일 : 무료</h5>
            <h4>입장시간 안내</h4>
            <table class="raceGround_left_table">
                <thead class="raceGround_left_thead">
                    <tr class="raceGround_left_tr">
                        <th class="raceGround_left_th">구분</th>
                        <th class="raceGround_left_th">금요일</th>
                        <th class="raceGround_left_th">토요일</th>
                        <th class="raceGround_left_th">일요일</th>
                    </tr>
                </thead>
                <tbody class="raceGround_left_tbody">
                    <tr class="raceGround_left_tr">
                        <td class="raceGround_left_td">주간경마</td>
                        <td class="raceGround_left_td">09:30</td>
                        <td class="raceGround_left_td">09:30</td>
                        <td class="raceGround_left_td">09:30</td>
                    </tr>
                    <tr class="raceGround_left_tr">
                        <td class="raceGround_left_td">야간경마</td>
                        <td class="raceGround_left_td">12:30</td>
                        <td class="raceGround_left_td">12:30</td>
                        <td class="raceGround_left_td">09:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="raceGround_right_box">
            <img class="map_img"src="{{ url_for('static', path='img/jeju_map.png') }}" alt="seoul">
            <div class="raceGround_right_add_box">
                <div><span>주소 : </span>제주특별자치도 제주시 애월읍 유수암리 1206</div>
                <div><span>도로명 : </span>제주특별자치도 제주시 애월읍 평화로 2144</div>
            </div>
        </div>
    </div>
</div>