<div class="intro_res_rain_block_block">
    <div class="rain_value_info">
        <h5><span class="rain_value_info_city">서울</span> 강수량은 <span>보통</span>이군요!</h5>
    </div>
    <div class="rain_value_box">
        <span>1.6</span>
        <span>1.5</span>
        <span>1.4</span>
        <span>1.3</span>
        <span>1.2</span>
        <span>1.1</span>
        <span>1.0</span>
        <span>0.9</span>
        <span>0.8</span>
        <span>0.7</span>
    </div>
    <div class="intro_res_rain_block">
        <div class="intro_res_rain_box">
            <span><hr></span>
            <span><hr></span>
            <span><hr></span>
            <span><hr></span>
            <span><hr></span>
            <span><hr></span>
            <span><hr></span>
            <span><hr></span>
            <span><hr></span>
            <div id="stick1"></div>
            <div id="stick2"></div>
            <div id="stick3"></div>
            <div id="stick4"></div>
            <div id="stick5"></div>
            <div id="stick6"></div>
            <div id="stick7"></div>
            <div id="stick8"></div>
            <div id="stick9"></div>
            <div id="stick10"></div>
        </div>
    </div>
</div>
<div class="rain_value_year_box">
    <span>1m/연도</span>
    <span class="rain_value_year_list">
        <span>14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
        <span>22</span>
        <span>23</span>
    </span>
</div>