<div class="other_region_box">
                <ul class="other_region_list">
                    <li class="other_region">서울</li>
                    <li class="other_region">경기</li>
                    <li class="other_region">인천</li>
                    <li class="other_region">강원</li>
                    <li class="other_region" style="background-color: #e4e4e5;">충청</li>
                    <li class="other_region">대전</li>
                    <li class="other_region">세종</li>
                    <li class="other_region">전라</li>
                    <li class="other_region">광주</li>
                    <li class="other_region">경상</li>
                    <li class="other_region">울산</li>
                    <li class="other_region">부산</li>
                    <li class="other_region">제주</li>
                </ul>
            </div>
            <div class="region_child_child_box">
                <ul class="region_child_child_list">
                    <li class="region_child_child" style="background-color: #e4e4e5;">청주</li>
                    <li class="region_child_child">충주</li>
                    <li class="region_child_child">제천</li>
                    <li class="region_child_child">보은</li>
                    <li class="region_child_child">옥천</li>
                    <li class="region_child_child">영동</li>
                    <li class="region_child_child">증평</li>
                    <li class="region_child_child">진천</li>
                    <li class="region_child_child">괴산</li>
                    <li class="region_child_child">음성</li>
                    <li class="region_child_child">단양</li>
                </ul>
            </div>
            <div class="region_child_box">
                <ul class="region_child_list">
                    <li class="region_child" style="background-color: #e4e4e5;">충북</li>
                    <li class="region_child">충남</li>
                </ul>
            </div>
            <div class="region_child_child_box">
                <ul class="region_child_child_list">
                    <li class="region_child_child" style="background-color: #e4e4e5;">청주</li>
                    <li class="region_child_child">충주</li>
                    <li class="region_child_child">제천</li>
                    <li class="region_child_child">보은</li>
                    <li class="region_child_child">옥천</li>
                    <li class="region_child_child">영동</li>
                    <li class="region_child_child">증평</li>
                    <li class="region_child_child">진천</li>
                    <li class="region_child_child">괴산</li>
                    <li class="region_child_child">음성</li>
                    <li class="region_child_child">단양</li>
                </ul>
            </div>