<div class="service_info_compare_choice_block">
    <div class="service_info_compare_choice_box motion_r">
        <h2>오늘은</h2>
    </div>
    <div class="service_info_compare_box motion_r">
        <ul class="service_info_compare_list">
            <li class="service_info_compare_cate">
                <span class="service_info_compare_cate_name">단승</span>    
            </li>
            <li class="service_info_compare_cate">
                <span class="service_info_compare_cate_name">연승</span>
            </li>
            <li class="service_info_compare_cate">
                <span class="service_info_compare_cate_name">복연승</span>
            </li>
            <li class="service_info_compare_cate">
                <span class="service_info_compare_cate_name">복승</span>
            </li>
            <li class="service_info_compare_cate">
                <span class="service_info_compare_cate_name">삼복승</span>
            </li>
            <li class="service_info_compare_cate">
                <span class="service_info_compare_cate_name">쌍승</span>
            </li>
            <li class="service_info_compare_cate">
                <span class="service_info_compare_cate_name">삼쌍승</span>
            </li>
        </ul>
    </div>
    <div  class="service_info_compare_right_text motion_r">
        <h2>으로 해볼까요?</h2>
    </div>
</div>