<div class="info_text_block slide">
    <div class="info_text_box item1">
        <h2 class="info_text_text">당신에게 경마의 재미를 알려주려고 해요.</h2>
        <h2 class="info_text_text">경마공원에서 펼쳐지는 짜릿한 경주,</h2>
        <h2 class="info_text_text">말런과 함께라면 처음이라도 문제 없어요.</h2>
    </div>
    <div class="info_text_box item2">
        <h2 class="info_text_text">마권이란?</h2>
        <h2 class="info_text_text">게임 종류, 우승예상 마번, 금액을 작성하여</h2>
        <h2 class="info_text_text">발매창구에 제출하는 표권이에요!</h2>
        <h2 class="info_text_text">금액은 100원에서 10만원까지 가능하답니다.</h2>
    </div>
    
    <div class="info_text_box item3">
        <h2 class="info_text_text">경기장은 경마공원이라고 불러요!</h2>
        <h2 class="info_text_text">서울, 부산경남, 제주</h2>
        <h2 class="info_text_text">세 곳에 있어요.</h2>
    </div>
    
    <div class="info_text_box item4">
        <h2 class="info_text_text">착이란 순위를 의미해요.</h2>
        <h2 class="info_text_text">경마에서는 1등이 아닌 1착이라고 한답니다.</h2>
    </div>
    
    <div class="info_text_box item5">
        <h2 class="info_text_text">경주마의 성별은 세 개예요.</h2>
        <h2 class="info_text_text">수말, 암말, 거세마 랍니다.</h2>
        <h2 class="info_text_text">경마에서 발정기의 말은 위험할 수 있기에</h2>
        <h2 class="info_text_text">거세를 한답니다.</h2>
    </div>

    <div class="slide_prev_button slide_button">
        <img class="left_img"src="{{ url_for('static', path='img/left.png') }}" alt="left">
    </div>
    <div class="slide_next_button slide_button">
        <img class="right_img"src="{{ url_for('static', path='img/right.png') }}" alt="right">
    </div>
</div>
<ul class="slide_pagination"></ul>