<div class="race_game">
    <div class="game_container" id="bettingContainer">
        <div id="bettingOptions">
            <div class="only_flex_row">
                <label for="betType">승식 선택</label>
                <select class="horse_select" id="betType">
                    <option value="1">단승</option>
                    <option value="2">연승</option>
                    <option value="3">복승</option>
                    <option value="4">쌍승</option>
                    <option value="5">복연승</option>
                    <option value="6">삼복승</option>
                    <option value="7">삼쌍승</option>
                </select>
            </div>
            <div id="horseSelection">
                <div class="only_flex_row">
                    <label for="horseNumber1">말 번호</label>
                    <input class="horse_input" type="number" id="horseNumber1" min="1" max="7">
                </div>
                <div class="only_flex_row" id="horseNumber2Container" style="display:none;">
                    <label for="horseNumber2">말 번호2</label>
                    <input class="horse_input" type="number" id="horseNumber2" min="1" max="7">
                </div>
                <div class="only_flex_row" id="horseNumber3Container" style="display:none;">
                    <label for="horseNumber3">말 번호3</label>
                    <input class="horse_input" type="number" id="horseNumber3" min="1" max="7">
                </div>
                <div class="only_flex_row">
                    <label for="betAmount">배팅 금액</label>
                    <input class="horse_input" type="number" id="betAmount" min="100" max="100000" step="500">
                </div>
            </div>
            <!-- 금액 변동 결과와 현재 금액 -->
            <div id="betResults">
                <p>총 투자 금액: <span id="totalBet">0</span>원</p>
                <p>획득한 금액: <span id="totalWin">0</span>원</p>
                <p>손익(순수익): <span id="netProfit">0</span>원</p>
                <p>현재 금액: <span id="currentAmount">500000</span>원</p> <!-- 초기 금액 50만원 설정 -->
            </div>
        </div>
    </div>
</div>

